{% extends 'layout.html.twig' %}

{% block title %}Reset votre mot de passe{% endblock %}

{% block main %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reset votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse mail et nous allons vous envoyer un lien pour retrouver votre mot de passe

            </small>
        </div>

        <button class="btn btn-primary">Envoyer l'email</button>
    {{ form_end(requestForm) }}
{% endblock %}